.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  margin-bottom: 20px;
}

.unactive-tab {
  background-color: #ccc;
}

.form-container {
  width: 300px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-container input {
  margin-bottom: 10px;
  padding: 5px;
}

.form-container button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Center the Add a Task section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust the layout of the form elements */
form#createTaskForm {
  display: flex; /* Use flexbox layout */
  align-items: baseline; /* Align items vertically */
  margin-top: 10px;
}

form#createTaskForm input[type="text"] {
  flex: 1; /* Allow input field to grow and shrink */
  margin-right: 10px; /* Add margin between input field and button */
}

form#createTaskForm button[type="submit"] {
  padding: 8px 12px; /* Adjust button padding */
}

li input[type="checkbox"] {
  margin-right: 8px; /* Adjust the value as needed */
}

#uncompleted-tasks {
  text-align: center; /* Center the entire section */
}

#taskContainer {
  display: inline-block; /* Set the container to inline-block */
  text-align: left; /* Align task list to the left */
  max-width: 250px; /* Set the maximum width for the task container */
  min-width: 250px;
}

#taskList {
  list-style: none; /* Remove default list styling */
  padding: 0;
}

#taskList li {
  margin-bottom: 10px; /* Adjust the vertical spacing between tasks */
  word-wrap: break-word; /* Allow long words to wrap */
}
